// ЕДИНИЦЫ:

// px

// % (ширина) - % от ширины род блока

// % (высота) - % от высоты род блока если его высота фиксирована, иначе auto.
//     если позиционирование фиксировано, то за род блок считается ближайший вложенный не фиксированный.

// em - доля размера от собственног шрифта (если он указан) или от шрифта род блока (если не указан)

// rem - доля размера от шрифта корневого элемента страницы (html)

// vw - процент от ширины окна браузера

// vh - процент от высоты окна браузера

// vmax - выбирает что больше высота или ширина окна браузера и берет от него процент

// vmin - аналогично в обратную сторону


// box-sizing: 
// border-box
// content-box

.test
    padding 1rem
    border 3px solid black
    min-height 100px
    min-width @min-height

@import 'function'
@import 'reboot'
@import 'color'
@import 'size'
@import 'utility'
@import 'group_box'
@import 'box'
@import 'hint'
@import 'close'
@import 'mw'
@import 'dropdown'


// Цветовая тема
// Цветовой сет
// Кликабельность
// Стиль группировки
// Отступы шрифты размеры
// Топология