// кнопка с простым 3д эффектом
.iii
    border-style outset // выпуклость
    box-shadow 3px 3px 3px rgba(0, 0, 0, 0.5)
    border-color rgb(113, 115, 204)
    background-color rgb(79, 81, 202)
    // background-color rgb(45, 46, 133)
    color rgb(79, 81, 202)
    text-shadow -.5px -.5px 1px rgb(233, 225, 225), .5px .5px 1px black
    // font-weight 700
    transform scale(1)
    &:hover
        cursor pointer
    &:active
        // border-style inset
        box-shadow 0px 0px 3px rgba(0, 0, 0, 0.5)
        transform scale(.95)