.badge
    display inline-block
    font-size 0.75em
    font-weight 700
    padding 0.35em 0.65em
    border-radius var(--rem1)
    text-align center
    line-height 1
    white-space nowrap
    vertical-align baseline
    color var(--c1)
    background-color var(--c4)

.body
    padding 1rem
    border-radius var(--rem1)
    border-style solid
    color var(--c5)
    background-color var(--c1)
    border-color var(--c4)