+box('.btn' 'button')
    display inline-block
    padding var(--rem1) 0.75rem
    text-align center
    border-radius var(--rem1)
    border-style solid
    cursor pointer
    line-height 1.5
    color var(--c1)
    background-color var(--c4)
    border-color var(--c2)
    &:hover
        background-color var(--c5)
    &:active
    &.active
        color var(--c5)
        background-color var(--c2)
        border-color var(--c4)
    &[disabled]
        cursor default
        background-color var(--c3)