color = {
    t0: #212529,
    t1: #0D6EFD,
    t2: #198754,
    t3: #DC3545,
    t4: #FFC107,
    t5: #0DCAF0,
    t6: #9d0df0,
}

// Вариации основных цветов
for k, v in color
    color[k] = v lightness(v, 97%) lightness(v, 90%) lightness(v, 75%) lightness(v, 40%) lightness(v, 20%)

// Закидываем цвета в переменные
:root
    for n in (0..(length(color.t0)))
        --c{n} color.t0[n]

for k, v in color
    .{k}
        for n in (0..(length(v)))
            t = v[n]
            --c{n} t
