ar_parent = ()
ar_parent2 = ()

for i in (1..5)
    push(ar_parent2, '-' + i)
    push(ar_parent, '-' + i + '>*:nth-child(' + i + ')')
    if i != 1
        push(ar_parent2, '-' + i + 'n')
        push(ar_parent, '-' + i + 'n' + '>*:nth-child(' + i + 'n' + ')')
    
        for ii in (1..5)
            if ii != i
                push(ar_parent2, '-' + i + ii)
                push(ar_parent, '-' + i + ii + '>*:nth-child(' + i + 'n' + ' + ' + ii + ')')

ps(sel)
    ar = ()
    push(ar, sel)
    push(ar, '_' + sel + '>*')
    push(ar, '__' + sel)
    push(ar, '__' + sel + '>*')
    for i in ar_parent
        push(ar, '_' + sel + i)
        push(ar, '__' + sel + i)
    for i in ar_parent2
        push(ar, '__' + sel + i)
    .{join(', .', ar)}
        {block}