html
    background-color rgb(178, 178, 201)

body
    padding 2rem

*, ::after, ::before
    font-family system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
    box-sizing border-box
    position relative
    font-weight 400
    // transition 200ms




ol
    counter-reset n
    &>*
        counter-increment n
        &:before
            content counter(n) '.'
            margin-right 0.5em